body{
    margin:400px;
}
.a {
    margin-top: -400px;
    border: 1px solid black;
}
.container {
    background-color: rgb(61, 119, 226);
    padding: 20px;
    /* width: 420px; */
}
 img {
     margin-top: 0px;
     margin-left: 265px;
 }
 
 h4 {
     margin-left: 260px;
     letter-spacing: 6px;
 }

 h1 {
     margin-left: 220px;
     margin-top: -10px;
     font-size: 40px;
 }
 b {
     color: white;
 }
 .card {
     background-color: white;
     /* width: 60px; */
     padding: 250px;
     height: 10px;
 }

 .p1 {
     margin-top: -240px;
     margin-left: -360px;
     margin-right: -100px;
     letter-spacing: -1px;
 }

.p1 h3{
    margin-left: 130px;
    font-size: 30px;
}

p {
     margin-left: 130px;
     margin-right: -100px;
 }
 
 .cad{
     display: flex;
     margin:30px;
     margin-top:-270px;
 }
 .card1 img{
     background-color: black;
     height:200px;
     width:300px;
     margin-left: 0px;

 }
 .card2 img{
     background-color: black;
     height:200px;
     width:300px;
     margin-left: 0px;
 }
 .p3{
     margin:0px;
     margin-left: 0px;
 }
 /* .card1 {
     background-color: rgb(14, 1, 1);
     width: 150px;
     padding: 50px;
     margin-left: -230px;
     height: 30px;
     margin-top: 50px;
 }
 .card2 {
     background-color: rgb(14, 1, 1);
     width: 150px;
     padding: 50px;
     margin-left: 40px;
     height: 30px;
     margin-top: -130px;
 } */
 .p2 {
     height: 120px;
     /* width: 120px; */
     margin-left: 15px;
 }
 footer {
     background-color:crimson;
     padding: 15px;
     /* width: 540px; */

 }
 pre {
     margin-left: -90px;
     margin-bottom: -70px;
     font-size: 15px;
     color: white;

 }
 .p4 {
     color: white;
 }

 .p5 {
     height: 30px;
    
     margin-left: 450px;
     margin-bottom: -40px;
 }

 .p6 {
     height: 35px;
     
     margin-top: 3px;
     margin-left: 500px;
 }